[DEFAULT]
REMOTE_SERVER = 
USERNAME = 
PRIVATE_KEY_PATH = 
DB_NAME = 
DB_USERNAME = 
DB_PASS = 
LOCAL_BACKUP_DIRECTORY = 
REMOTE_BACKUP_DIRECTORY = 

TABLES_TO_SKIP_DATA =
    # table_one
    # table_two